.card_box{

    margin: 0px 5px;
    border-radius: 5px;
}

.card{

    font-family: fixel;
    color: var(--blue);
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    background-color: var(--background);


    &:hover {
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
          rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
          border-radius: 5px;
      }
  }

  .image_box{
    max-width: 200px;
    border-radius: 5px;
    padding: 5px;

    img{
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
  }
